<!-- About -->
  <section class="about" id="about">
  <div class="about__container">
    <h1 class="about__container__site-title">Freelace Book</h1>
    <p class="about__container__site-sub-title">~99Give 1Take~</p>
    <div class="about__container__site-description">
      <p>生き方もチーム作りも柔軟に</p>
    </div>
    <div class="about__container__buttons">
      <a class="button button-white" href="#login">サインイン</a>
    </div>
  </div>
  </section>
<!-- Services -->
  <section class="services">
    <div class="services__container">
      <h2  class="services__container__title">Service</h2>
      <div class="services__container__wrapper">
        <div class="container">
          <div class="service-icon__box">
            <p class="service-icon__title blod">フリーランス</p>
            <div class="service-icon rounded-circle"><%= fa_icon 'fa fa-handshake-o 3x' %></div>
            <h4 class="service-icon__text blod">Matching</h4>
            <p class="service-icon__text-description">きっと最適なパートナーを見つける事ができます</p>
          </div>
          <div class="service-icon__box">
            <p class="service-icon__title blod">プログラミングスクール生</p>
            <div class="service-icon rounded-circle"><%= fa_icon 'fa fa-handshake-o 3x' %></div>
            <h4 class="service-icon__text blod">Watching</h4>
            <p class="service-icon__text-description">フリーランスの実績案件を確認できます</p>
          </div>
        </div>
      </div>
    <div>
  </section>

<!-- Login -->
  <section class="login" id="login">
    <div class="login__container">
     <h2  class="login__container__title">はじめてみる</h2>
      <div class="login__container__wrapper">
        <div class="container">
          <div class="login__container__box">
            <div class="login__container__buttons">
              <a class="button" href="/users/sign_in">サインイン</a>
            </div>
          </div>
          <div class="login__container__box">
            <div class="login__container__buttons">
              <a class="button button-orange" href="/users/sign_up">サインアップ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>