<!-- About -->
  <section class="about" id="about">
  <div class="about__contents">
    <div class="about__contents__image">
    <div class="about__contents__site-title">Freelace Book</div>
    <p class="about__contents__site-sub-title">~99Give 1Take~</p>
    <div class="about__contents__site-description">
      <p>生き方もチーム作りも柔軟に</p>
    </div>
    <div class="about__contents__buttons">
      <a href="#login">
        <% if user_signed_in? %>
          <a href="/">
            <button type="button" class="btn btn-primary btn-lg">MORE WORKS</button>
          </a>
        <% else %>
          <a href="/users/sign_in">
            <button type="button" class="btn btn-primary btn-lg">サインイン</button>
          </a>
        <% end %>
      </a>
    </div>
    <div>
  </div>
  </section>
  
<!-- Services -->
  <section class="services">
    <div class="services__contents">
      <div  class="services__contents__title">Service</div>
      <div class="services__contents__wrapper">
        <div class="container">
          <div class="service-icon__box">
            <p class="service-icon__title blod">フリーランス</p>
            <div class="service-icon rounded-circle"><%= fa_icon 'fa fa-handshake-o 3x' %></div>
            <h4 class="service-icon__text blod">Matching</h4>
            <p class="service-icon__text-description">最適なパートナーを見つける事ができます</p>
          </div>
          <div class="service-icon__box">
            <p class="service-icon__title blod">プログラミングスクール生</p>
            <div class="service-icon rounded-circle"><%= fa_icon 'fa fa-handshake-o 3x' %></div>
            <h4 class="service-icon__text blod">Watching</h4>
            <p class="service-icon__text-description">フリーランスの実績案件を確認できます</p>
          </div>
        </div>
      </div>
    <div>
  </section>

<!-- Login -->
  <section class="login" id="login">
    <div class="login__contents">
     <div class="login__contents__title">はじめてみる</div>
      <div class="login__contents__wrapper">
        <div class="container">
          <div class="login__contents__box">
              <p>すでにアカウントをお持ちの方</p>
              <a href="/users/sign_in">
                <button type="button" class="btn btn-primary btn-lg">サインイン</button>
              </a>
           </div>
          <div class="login__contents__box">
            <p>アカウントを持っていない方</p>
            <a href="/users/sign_up">
              <button type="button" class="btn btn-primary btn-lg">サインアップ</button>
            </a>
        </div>
      </div>
    </div>
  </section>