/*****************************************
 *  card
 *****************************************/
 .card {
  position: relative;
  &__body {
    margin-top: 10px;
    margin-bottom: 10px;
    &__titel {
      font-size:16px;
      font-weight: bold;
    }
    &__skill {
      padding:5px;
      border-radius: 50%;
      background: #e6effa;
    }
    &__contents{
      height: 60px;
      overflow: scroll;
    }
    &__action {
      position: absolute;
      left: 30px;
      bottom: 10px;
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.index-content a:hover {
  color: black;
  text-decoration: none;
}

.index-content {
  margin-bottom: 20px;
  padding: 10px 0px;
}

.index-content .row {
  margin-top: 20px;
}

.index-content .card {
  background-color: #FFFFFF;
  margin:10px;
  padding: 10px;
  height: 500px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.index-content .card img {
  width: 100%;
  border-top-right-radius: 4px;
}

.index-content .card h4 {
  margin: 20px;
}

.index-content .card p {
  margin: 15px;
  opacity: 0.65;
}

@media (max-width: 768px) {
  .index-content .col-lg-4 {
    margin-top: 20px;
  }
}

